<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>ColectionCellController</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Description</key>
	<string>A group of ColectionCellController and UICollectionViewCell subclasses, with swift &amp; XIB files.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The prefixes of the classes to create.</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class Name (without *CellController)</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Content type that is configured by cell controller</string>
			<key>Identifier</key>
			<string>contentType</string>
			<key>Name</key>
			<string>Content type (configured by cell controller)</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>CollectionCellController and CollectionCell subclasses.</string>
</dict>
</plist>
