<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.tapptitude.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.tappSwiftApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>iPhone</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>../fastlane/Fastfile</string>
						<string>../fastlane/Appfile</string>
						<string>../fastlane/s3_html_template.erb</string>
						<string>../fastlane/actions/s3a.rb</string>
						<string>../fastlane/actions/update_info_plist.rb</string>
						<string>Screens</string>
						<string>../Podfile</string>
						<string>../.gitignore</string>
						<string>Access/API.swift</string>
						<string>Access/API+Config.swift</string>
						<string>Access/ErrorParser.swift</string>
						<string>Access/FeedDataStore.swift</string>
						<string>Access/Facebook.swift</string>
						<string>Access/Session.swift</string>
						<string>Constants.swift</string>
						<string>Model/User.swift</string>
						<string>Helpers/ErrorDisplay.swift</string>
						<string>Helpers/Utils.swift</string>
						<string>Helpers/UIBarButton+Helpers.swift</string>
						<string>Helpers/String+Email.swift</string>
						<string>Helpers/SeparatorView.swift</string>
						<string>Helpers/RoundedButton.swift</string>
						<string>Helpers/PlaceholderTextField.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>../fastlane/actions/update_info_plist.rb</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/actions/update_info_plist.rb</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/actions/s3a.rb</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/actions/s3a.rb</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/s3_html_template.erb</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/s3_html_template.erb</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/Appfile</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/Appfile</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/Fastfile</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/Fastfile</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>Helpers/ErrorDisplay.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/ErrorDisplay.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/Utils.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/Utils.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/UIBarButton+Helpers.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/UIBarButton+Helpers.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/String+Email.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/String+Email.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/SeparatorView.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/SeparatorView.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/RoundedButton.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/RoundedButton.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/PlaceholderTextField.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/PlaceholderTextField.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Model/User.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Model/User.swift</string>
							<key>Group</key>
							<string>Model</string>
						</dict>
						<key>Constants.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Constants.swift</string>
						</dict>
						<key>Access/Session.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/Session.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/FeedDataStore.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/FeedDataStore.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/Facebook.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/Facebook.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/ErrorParser.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/ErrorParser.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/API+Config.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/API+Config.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/API.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/API.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>../.gitignore</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>.gitignore</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../Podfile</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Podfile</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>Screens</key>
						<dict>
							<key>SortOrder</key>
							<integer>120</integer>
							<key>Path</key>
							<string>Screens</string>
						</dict>
						<key>Helpers</key>
						<dict>
							<key>SortOrder</key>
							<integer>117</integer>
							<key>Path</key>
							<string>Helpers</string>
						</dict>
						<key>Model</key>
						<dict>
							<key>SortOrder</key>
							<integer>119</integer>
							<key>Path</key>
							<string>Model</string>
						</dict>
						<key>Access</key>
						<dict>
							<key>SortOrder</key>
							<integer>118</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>../fastlane/Fastfile</string>
						<string>../fastlane/Appfile</string>
						<string>../fastlane/s3_html_template.erb</string>
						<string>../fastlane/actions/s3a.rb</string>
						<string>../fastlane/actions/update_info_plist.rb</string>
						<string>Screens</string>
						<string>../Podfile</string>
						<string>../.gitignore</string>
						<string>Access/API.swift</string>
						<string>Access/API+Config.swift</string>
						<string>Access/ErrorParser.swift</string>
						<string>Access/FeedDataStore.swift</string>
						<string>Access/Facebook.swift</string>
						<string>Access/Session.swift</string>
						<string>Constants.swift</string>
						<string>Model/User.swift</string>
						<string>Helpers/ErrorDisplay.swift</string>
						<string>Helpers/Utils.swift</string>
						<string>Helpers/UIBarButton+Helpers.swift</string>
						<string>Helpers/String+Email.swift</string>
						<string>Helpers/SeparatorView.swift</string>
						<string>Helpers/RoundedButton.swift</string>
						<string>Helpers/PlaceholderTextField.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>../fastlane/actions/update_info_plist.rb</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/actions/update_info_plist.rb</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/actions/s3a.rb</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/actions/s3a.rb</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/s3_html_template.erb</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/s3_html_template.erb</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/Appfile</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/Appfile</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/Fastfile</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/Fastfile</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>Helpers/ErrorDisplay.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/ErrorDisplay.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/Utils.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/Utils.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/UIBarButton+Helpers.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/UIBarButton+Helpers.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/String+Email.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/String+Email.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/SeparatorView.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/SeparatorView.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/RoundedButton.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/RoundedButton.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/PlaceholderTextField.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/PlaceholderTextField.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Model/User.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Model/User.swift</string>
							<key>Group</key>
							<string>Model</string>
						</dict>
						<key>Constants.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Constants.swift</string>
						</dict>
						<key>Access/Session.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/Session.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/FeedDataStore.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/FeedDataStore.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/Facebook.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/Facebook.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/ErrorParser.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/ErrorParser.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/API+Config.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/API+Config.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/API.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/API.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>../.gitignore</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>.gitignore</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../Podfile</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Podfile</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>Screens</key>
						<dict>
							<key>SortOrder</key>
							<integer>120</integer>
							<key>Path</key>
							<string>Screens</string>
						</dict>
						<key>Helpers</key>
						<dict>
							<key>SortOrder</key>
							<integer>117</integer>
							<key>Path</key>
							<string>Helpers</string>
						</dict>
						<key>Model</key>
						<dict>
							<key>SortOrder</key>
							<integer>119</integer>
							<key>Path</key>
							<string>Model</string>
						</dict>
						<key>Access</key>
						<dict>
							<key>SortOrder</key>
							<integer>118</integer>
						</dict>
					</dict>
				</dict>
				<key>Universal</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>../fastlane/Fastfile</string>
						<string>../fastlane/Appfile</string>
						<string>../fastlane/s3_html_template.erb</string>
						<string>../fastlane/actions/s3a.rb</string>
						<string>../fastlane/actions/update_info_plist.rb</string>
						<string>Screens</string>
						<string>../Podfile</string>
						<string>../.gitignore</string>
						<string>Access/API.swift</string>
						<string>Access/API+Config.swift</string>
						<string>Access/ErrorParser.swift</string>
						<string>Access/FeedDataStore.swift</string>
						<string>Access/Facebook.swift</string>
						<string>Access/Session.swift</string>
						<string>Constants.swift</string>
						<string>Model/User.swift</string>
						<string>Helpers/ErrorDisplay.swift</string>
						<string>Helpers/Utils.swift</string>
						<string>Helpers/UIBarButton+Helpers.swift</string>
						<string>Helpers/String+Email.swift</string>
						<string>Helpers/SeparatorView.swift</string>
						<string>Helpers/RoundedButton.swift</string>
						<string>Helpers/PlaceholderTextField.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>../fastlane/actions/update_info_plist.rb</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/actions/update_info_plist.rb</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/actions/s3a.rb</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/actions/s3a.rb</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/s3_html_template.erb</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/s3_html_template.erb</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/Appfile</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/Appfile</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../fastlane/Fastfile</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>fastlane/Fastfile</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>Helpers/ErrorDisplay.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/ErrorDisplay.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/Utils.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/Utils.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/UIBarButton+Helpers.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/UIBarButton+Helpers.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/String+Email.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/String+Email.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/SeparatorView.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/SeparatorView.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/RoundedButton.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/RoundedButton.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Helpers/PlaceholderTextField.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Helpers/PlaceholderTextField.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
						<key>Model/User.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Model/User.swift</string>
							<key>Group</key>
							<string>Model</string>
						</dict>
						<key>Constants.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Constants.swift</string>
						</dict>
						<key>Access/Session.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/Session.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/FeedDataStore.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/FeedDataStore.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/Facebook.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/Facebook.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/ErrorParser.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/ErrorParser.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/API+Config.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/API+Config.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>Access/API.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Access/API.swift</string>
							<key>Group</key>
							<string>Access</string>
						</dict>
						<key>../.gitignore</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>.gitignore</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>../Podfile</key>
						<dict>
							<key>SortOrder</key>
							<integer>100</integer>
							<key>Path</key>
							<string>Podfile</string>
							<key>Group</key>
							<string>To Remove from Xcode</string>
						</dict>
						<key>Screens</key>
						<dict>
							<key>SortOrder</key>
							<integer>120</integer>
							<key>Path</key>
							<string>Screens</string>
						</dict>
						<key>Helpers</key>
						<dict>
							<key>SortOrder</key>
							<integer>117</integer>
							<key>Path</key>
							<string>Helpers</string>
						</dict>
						<key>Model</key>
						<dict>
							<key>SortOrder</key>
							<integer>119</integer>
							<key>Path</key>
							<string>Model</string>
						</dict>
						<key>Access</key>
						<dict>
							<key>SortOrder</key>
							<integer>118</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Screens/ViewController.swift:comments</string>
						<string>Screens/ViewController.swift:imports:importCocoa</string>
						<string>Screens/ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>Screens/ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>Screens/ViewController.swift:implementation:methods:viewDidLoad:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
